body{
	background-color: #993366;
}
p{
	color: white;
	font-family: Indie Flower, cursive;
}
a{
	background-color: #cccccc;
	color: #003366;
}
fieldset{
	margin-left: 10px;
	margin-right: 10px;
	background-image: url('bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}